@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .icon-sm {
    @apply w-6 h-6 text-white cursor-pointer;
  }

  .icon-lg {
    @apply w-8 h-8 text-white cursor-pointer;
  }

  .icon-default {
    @apply w-6 h-6 text-white;
  }

  .link {
    @apply h-14 flex items-center px-6 gap-4
  }

  .variant-h1 {
    @apply text-4xl font-bold text-blue-500 text-center;
  }

  .pfp {
    @apply h-12 w-12
  }
  .btn {
    @apply px-4 py-2 transition-all duration-200;
  }
}

.scrollbar-thin-pretty {
  scrollbar-width: thin;
  scrollbar-color: rgba(107, 114, 128, 0.5) transparent;
}

.scrollbar-thin-pretty::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin-pretty::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin-pretty::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-thin-pretty::-webkit-scrollbar-thumb:hover {
  background-color: rgba(79, 70, 229, 0.7);
}